@charset "utf-8";

div#main {

    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.9;
    text-align: left;
}

/* ヘッダーの一言 */
div#headerWord {
    width: fit-content;
    margin: 7rem auto 0 auto;
    font-family: 'Monotype Corsiva';
    font-size: 1.9rem;
    color: #777;
}

/* ヘッダー画像 */
div#headerImage {
    margin-top: 6rem;
}

section#introductionSection{

    max-width: 940px;
    margin:5rem auto 0 auto;
    /* background-color: blue; */
}

section#introductionSection h2 {

    color: #777;
    font-family: 'ＭＳ Ｐ明朝';
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 3rem;

}
div#introductionBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
div#profileImages img{
    border-radius:30%;
}
div#introductionItem{
    width: 35rem;
    /* background-color: red; */
}
div#introductionItem dl {
    display: flex;
    flex-wrap: wrap;
}
div#introductionItem dl dt {
    width: 40%;
}
div#introductionItem dl dd {
    width: 60%;
}
