@charset "UTF-8";
/* フッターのスタイル */

footer{
  display: flex;
  height:7rem;
  /* background-color: red; */
  /* justify-content: space-between;
  align-items: center; */
  
}
footer nav ul {
  display: flex;
}