@charset "UTF-8";
/* ヘッダーのスタイル */

div#logoLink{
  display: flex;

    align-items: center;
    /* ロゴとリンク画像の横の位置を固定しながら移動させるためにこちらに記述した */
    padding-top: 1rem;
}
/* ロゴ画像 */
div#logo{
  margin-left: 10rem;
}

div#linkBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width:400px;
  background-color: red;
  /* margin-rightを基準にするためにleftはauto */
  margin-left: auto;
  margin-right: 10rem;
}
/* リンク */
div.link{
  width: 2rem;
  height: 2rem;
  background-color: green;

}
div.link img{
    display: block;
    width: 2rem; 
    height: 2rem; 
} 
div#toggleBox{
  width: 80px;
  background-color: blue;
}


/* -------ナビゲーション---------------------- */

  
.pcStyle {
  width: 30rem;
  margin: 0  5rem 3rem  auto;
  font-size: 0.9rem;
}
.pcStyle ul {
display: flex;
justify-content: space-around;
}
.pcStyle ul li {
  /* 親要素3分割 */
  width : 33.33333% ; /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
  text-align: center;
  /* ホバーした時にボーダー分ずれないように白のボーダーをつけている */
  border-bottom: 3px solid #FFF;
}
.pcStyle ul li:hover{
color: #E7DA66;
border-bottom: 3px solid #a9ceec;
}
.pcStyle ul li a{
  /* テキストの装飾を指定するプロパティ */
    text-decoration: none;
    color: #555;
  }

/*ハンバーガーメニューのスタイル*/
.spStyle {
display: none;
}
@media screen and (max-width: 768px) {/* 767px以下用（タブレット／スマートフォン用）の記述 */
.pcStyle {
display: none;    
}
.spStyle {
display: block;
}

/*メニューボタン　展開前*/
.menuButton {
display : block;
position: fixed;
z-index : 3;
/* 右上に固定 */
right : 30px;
top   : 20px;
width : 42px;
height: 42px;
cursor: pointer;
}
/* 横３のデザイン */
.menuButton span {
display : block;
position: absolute;
width   : 30px;
height  : 2px ;
background : #555;
/* 徐々に加速する。 */
transition        : 0.3s ease-in-out;
}
.menuButton span:nth-of-type(1) {
top: 10px;
}
.menuButton span:nth-of-type(2) {
top: 20px;
}
.menuButton span:nth-of-type(3) {
top: 30px;
}

/*メニューボタン　展開後　横3のデザインを✖に変える*/
.menuButton.active span:nth-child(1) {
top : 16px;
background :#fff;
transform        : rotate(-45deg);
}
.menuButton.active span:nth-child(2),
.menuButton.active span:nth-child(3) {
top: 16px;
background :#fff;
transform        : rotate(45deg);
}

/*スマホ用のメニュー*/
.spStyle {
position: fixed;
z-index: 2;
top: 0;
left: 0;
color: #fff;
background-color: rgba(0,0,0,0.7);
text-align: center;
width: 100%;
/* ビューポートを基準に100パーセント */
height: 100vh;
opacity: 0;
transition: opacity .6s ease, visibility .6s ease;
/* 縦向き真ん中に持ってくる */
  display: flex;
  align-items: center;
}
.spStyle ul {
margin: 0 auto;
padding: 0;
width: 100%;
}
.spStyle ul li {
list-style-type: none;
padding: 0;
width: 100%;
transition: .4s all;
}
.spStyle ul li:last-of-type {
padding-bottom: 0;
}
.spStyle ul li:hover{
background :#ddd;
}
.spStyle ul li:hover a{
color :#333;
}
.spStyle ul li a {
display: block;
color: #fff;
padding: 1em 0;
text-decoration :none;
}
.spStyle.active {
opacity: 1;
}
}


/* モーダル */

.modal-content {
	width: auto ;
	margin: 0 ;
	padding: 10px 20px ;
	border: 2px solid #aaa ;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}
  
#modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}

.button-link {
	color: #00f ;
	text-decoration: underline ;
}
 
.button-link:hover {
	cursor: pointer ;
	color: #f00 ;
}



/* 英語日本語切り替えデザイン */
.toggle {
  position: relative;
  width: 80px;
  height: 43px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #777;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle:after {
  content: "日本語";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 36px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-align: center;
  padding: 14px 0 0;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  letter-spacing: .5px;
  box-sizing: border-box;
}
.toggle.checked:before {
  background: #00008b;
}
.toggle.checked:after {
  content: "English";
  left: 15px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
  color: #00008b;
  padding: 14px 0 0 1px;
}